<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>

    <header>
        <ul>
            <li><a href="http://localhost:3000">Start</a></li>
            <li><a href="http://localhost:3000/profile">Profile</a></li>
            <li><a href=""></a></li>
        </ul>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>Hier kommt der Footer hin</p>
    </footer>

    
</body>
</html>